<!DOCTYPE html>
<head>
  <title>Bad Advice As A Service</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='sheep.png') }}" class="icon" />
  <h3>{{ title }}</h3>
  <h4>This uses AI to generate responses and should not be taken literally or followed</h4>
  To start, enter a topic.  For example, "love", or "deal with an angry boss"
  <br>
  <form action="{{ post_path }}" method="post">
    <input type="text" name="topic" {% if topic %} value="{{ topic }}" {% endif %} placeholder="Enter a topic" required />
    <input type="submit" value="Give me some bad advice!" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
